.github
  - github_image = @image_tag('social/github.png', alt: 'code available on github', title: 'code available on github')
  = @link_to github_image + 'code available on github ', 'https://github.com/formslider/formslider.github.io.src', {target: '_blank'}

  - travis_image = @image_tag('https://travis-ci.org/formslider/formslider.github.io.src.svg?branch=master', alt: 'travis build status', title: 'travis build status')
  .travis
    = @link_to travis_image, 'https://travis-ci.org/formslider/formslider.github.io.src', {target: '_blank'}

.text
  This website is hand made with the
  = @link_to 'easy-website-generator', 'https://github.com/easy-website-generator/easy-website-generator', {target: '_blank'}
  ,
  = @link_to 'jquery.formslider', 'https://github.com/formslider/jquery.formslider', {target: '_blank'}
  and brought to you with love by
  = @link_to('www.creative-workflow.berlin', 'https://www.creative-workflow.berlin/company.html', {target: '_blank'}) + '.'
  The page load is below
  = @globals.footer.page_size
  at all =)

.copyright
  = @copyright 'Tom Hanoldt - Creative-Workflow'

  = ' - ' + @link_to 'imprint', 'https://www.creative-workflow.berlin/imprint.html', {class: 'fancybox', 'data-fancybox-type': 'ajax'}
