
%article.article.about.animate-if-in-view
  %h2.headline
    About

  %p
    This is a demo project for the
    = @link_to 'Europeana #edTech Challenge.', 'https://pro.europeana.eu/post/europeana-edtech-challenge', target: '_blank'

  %p
    The software used for the questionnaire is based on our self developed and opensourced
    = @link_to 'jquery.formslider.', 'https://github.com/formslider/jquery.formslider', target: '_blank'

  %p
    The source code for this demo website can be found
    = @link_to 'on github.', 'https://github.com/formslider/formslider.eurpeana.src', target: '_blank'

  %p
    Another demo implementation with different questions or question paths depending on previous answers can befound here

    = @link_to 'formslider.github.io.', 'https://formslider.github.io', target: '_blank'


  .europeana-logo
    = @image_tag "EU_made_with_logo_375px.png"
